
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,Poppins:300,400,600,800");

// Variables
@import "variables";

// Mixins
@import "mixins";

//spacing helpers
@import "spacing-helpers";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// Tipografy
p,h1,h2,h3,h4,h5,body,span{
    font-family: 'Poppins';
}

body{
    background: url('/images/background-azul-padrao.jpg');
    background-size:cover;
}


// Colors
.color-light{
    color: $color-light;
}

//Global

.text-success {
    color: #73d875;
}

.btn-light{
    border: 1px solid $color-light;
    color: $color-light;
    padding: 10px 20px !important;
}

.nav > li > a:hover, .nav > li > a:focus{
    background: transparent;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}
.nav-tabs {
    text-align:center;
    border-bottom: 2px solid $brand-primary;
    margin-bottom: 20px;
    li{
        @include transition(all 0.4s);
        a{
            background: transparent !important;
            border: none !important;
            font-size: 20px;
            font-weight: 500;
        }
        &.active{
            border-bottom: 4px solid $brand-primary;
        }
    }
}

//Top bar
#topbar-section{
    background: $brand-primary;
    padding: 5px 0;
    color: $color-light;
    .top-bar-right{
        text-align: right;
    }
}

/*
* Navbar Site 
*/
.navbar{
    .navbar-right{
        a{
            line-height: 90px;
        }
    }

    .navbar-brand{
        height: 100%;
    }
}

.navbar-dashboard{
    background: $color-1;
    .navbar-right{
        margin-top: 20px;
        a{
            color: $color-light;
            line-height: 20px;
            &:hover{
                background: transparent;
            }
        }
        .menu-pessoal{
            color: $color-light;
        }
    }
    .navbar-brand img {
        height: 60px;
        width: 60px;
    }
}


.panel{
    box-shadow: 0px 9px 30.78px 7.22px rgba(0, 0, 0, 0.07);  
    border-radius: 10px;
    .panel-heading{
        border: 0;
        border-radius: 10px;
        h1{
            color: $brand-primary !important;
            font-weight: 700 !important;
            font-size: 30px;
            text-align: center;
        }
    } 
}

.panel-admin{
    padding: 10px 40px;
}

#auth-forms{
    input{
        padding: 25px;
        border-radius: 8px;
        border-color: $brand-sec;
        color: $brand-sec;
        font-size: 16px;
    }
    button.btn-primary{
        background: linear-gradient(135deg, rgba(8,200,217,1) 0%, rgba(8,200,217,1) 26%, rgba(8,200,217,1) 35%, rgba(69,103,171,1) 100%);        position: relative;
        border: 0;
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 17px;
        z-index: 1;
        &:hover{
            @include transition(all 0.3s ease-in);
            &:after{
                opacity: 1;
            }
        }
        &::after {
            position: absolute;
            content: '';
            border-radius: 10px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(69,103,171,1) 0%, rgba(69,103,171,1) 50%, rgba(8,200,217,1) 100%);            transition: opacity 0.5s ease-out;
            z-index: 2;
            opacity: 0;
        }
        span{
            position: relative;
            z-index: 3;
        }
    }
}

#sidebar-wrap{
    padding: 40px;
    background: linear-gradient(to bottom, #732ffe 0%, #664095 99%);
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12);
    #sidebar-menu{
        text-align: right;
        li{
            margin: 15px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
            @include transition(all 0.3s);
            a{
                color: $color-light;
                font-size: 18px;
                font-weight: 300;
                img{
                    width: 35px;
                    margin-left: 20px;
                }
            }
            &:hover{
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            }
        }
    }
}



// saldo
.saldo{
    text-align: center;
    font-size: 20px;
    strong{
        color: #7032e7;
    }
}


//Footer
footer{
    margin-top: 40px;
    background: #4567ab;
    padding: 30px;
    text-align: center;
    span{
        color: $color-light;
        font-weight: 500;
    }    
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin: 0;
}

.suffix input {
    border-radius: 4px 0px 0px 4px;
}
.suffix .input-group-addon {
    border-left: 0;
    border-radius: 0px 4px 4px 0px;
}
.prefix input {
    border-radius: 0px 4px 4px 0px;
}
.prefix .input-group-addon {
    border-right: 0;
    border-radius: 4px 0px 0px 4px;
}
.presuffix input {
    border-radius: 0px;
}
.input-group-addon.prefix {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
}
.input-group-addon.suffix {
    border-radius: 0px 4px 4px 0px;
    border-left: 0;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}



// recarga 

.center {
    margin: 0 auto;
    width: 100%;
  }
  
  .center input[type="checkbox"] {
    position: relative;
    display: inline-block;
    min-height: 130px;
    width: 33%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
  }
  
  .center input[type="checkbox"]:after { 
    content: ''; 
    font-size: 2.4em;
    text-align: center;
    line-height: 140px;
    color: #555555;
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    display: block;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #efefef;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
   }
  
  .center input[type="checkbox"]:before { 
    position: absolute;
    margin: auto auto;
    left: 0; right: 0; bottom: 0; top: 0;
    content: '';
    display: block; 
    height: 140px;
    width: 140px;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }
  
  .center input[type="checkbox"]:hover:before {
    height: 60px;
    width: 60px;
  }
  
  .center input[type="checkbox"]:checked:before {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 0;
  }
  
  .center input[type="checkbox"]:focus {
    outline: none;
  }
  
  .center input[type="checkbox"].c15:after { content: 'R$ 15'; } 
  .center input[type="checkbox"].c30:after { content: 'R$ 30'; }
  .center input[type="checkbox"].c50:after { content: 'R$ 50'; }
  
  
  .center input[type="checkbox"]:checked:after {
    background-color: $brand-primary;
    color: #fff;
} 
.recarga-submit{
    button{
        margin-top: 30px;
    }
    text-align: center;
}